.navbar{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.nav-links{
    display: flex;
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

.nav-links li a{
    color: white;
}

.nav-links li a.active{
    color: orange;
}
